@model IEnumerable<DapperAndEntityFrameworkApp.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Employee List</h1>

<p class="float-right">
    <a asp-action="Create" class="btn btn-sm btn-dark">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeId"><i class="fa-solid fa-pen-to-square btn btn-sm btn-dark"></i></a> 
                <a asp-action="Details" asp-route-id="@item.EmployeeId"><i class="fa-solid fa-list-ul btn btn-sm btn-info ml-1"></i></a> 
                <a asp-action="Delete" asp-route-id="@item.EmployeeId"><i class="fa-solid fa-trash-can btn btn-sm btn-danger ml-1"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
